body, html{
    min-height: 100%;

}

body{
    background: #000000;

}

.mylogo{
    height: 35px;
}
.nav > li > a{
    font-size: 26px;
    font-weight: bolder;
    color: #000000;
    padding-top: 0px;
    padding-bottom: 0px; 
}
#comsvg{
    height: 500px;
}

#landingSect{
    height: calc(100vh - 61.5px);
    background: linear-gradient(-45deg, rgb(52, 255, 208), #C244FF, rgb(73, 207, 178), rgb(241, 213, 136) );
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    padding-bottom: 1px;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 45% 65%;
}
#textBox{
    font-size: 35px;
    font-weight: 800;
    color: #000000;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: end;
}
#textBox > div{
    overflow: hidden;
    grid-row: 2 / 3;
}
#textBox p{
    margin:0;
}
#textBox span{
    color: #ffffff;
}
#graphicBox{
    display: grid;
    grid-template-columns: 40% 60%;
}
#graphic{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
#comsvg{
    grid-column: 2 / 3;
    z-index: 10;
}
#slant{
    width: 1000px;
    height: 100%;
    overflow: hidden;
    background: #000000;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
}
h2{
    color: #000000;
    font-weight: bold;
    margin: 10px auto;
    padding: 1px 10px;
    border: black solid 5px;
    width: fit-content;
}
#main-container{
    overflow: hidden;
    background: linear-gradient(#C244FF, #2EE6A8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin-top: 100px;
    margin-bottom: 200px;
}
.content-container{
    color: #ffffff;
    font-size: 26px;
    background: #2B2B2B;
    min-height: 700px;
    padding: 30px;
    width: 100%;
    
}
#about{
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 15px;
}
.profPic{
    margin-top: 50px;
    width:200px;
    height: 200px;
    background: #ffffff;
    border-radius: 50%;
}
#portfolio{
    display: grid;
    padding-top: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.project{
    width: 100%;
    background: #ffffff;
    height: 400px;
}
#contact{
    text-align: center;
}
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-weight:500;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #a268ec;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #4ec3bb; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
    background: none;
  width: 100%;
  border: 2px solid #a268ec;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#4ec3bb; }


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@media screen and (max-width:768px){
    #textBox{font-size:20px; width:fit-content;}
    .backBox{height:150px;}
    .backBox h2{font-size: 2.5em; margin-right: 15px;}
    .profPic{width:150px; height:150px; margin: 0 auto;}
    }

    